page-third {
    div { font-size: 20px; color:"KPMG1"}
    h2 { font-size: 30px; color:#00338D; font-family: "Times New Roman", Times, serif;}
   
    ion-content {
        background-image: url("../../assets/imgs/iCan Cover Image_Portrait.jpg");
        background-repeat: no-repeat;
        background-color: #0091DA;
        background-size: cover;
    }
/*     ion-header {
        background:url('../../assets/imgs/KPMG_RPG.png');
        background-repeat:no-repeat;
        background-size:100% 100%;
    }
*/ }
